configdata/ISO19139/smXML/constrainedTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://metadata.dgiwg.org/smXML" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    xmlns:smXML="http://metadata.dgiwg.org/smXML" 
    xmlns:gml="http://www.opengis.net/gml" version="0.8">
	<xs:annotation>
		<xs:documentation>
	    			This schema was directly generated from the ISO 19139 UML model via
	    			Version 0.8 of the Rational Rose Script 'XMLout4XMLSchema.ebs' and via
	    			'UMLSchema_to_XMLSchema.xslt' for the DGIWG contribution to the ISO 19139 Project Team
	    			 at DateTime_Type 10-03-2003 12:24:38</xs:documentation>
	</xs:annotation>
	<!-- ================== Imports ================== -->
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml3.0/base/gml.xsd"/>
	<!-- ================== Includes =================-->
	<xs:include schemaLocation="basicTypes.xsd"/>
	<!-- ================== Classes  ================== -->
	<xs:complexType name="endTimeRange_Type">
		<xs:sequence>
			<xs:element name="end" type="smXML:DateTime_Type"/>
			<xs:element name="duration" type="xs:duration"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="endTimeRange" type="smXML:endTimeRange_Type"/>
	<xs:complexType name="endTimeRange_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:endTimeRange" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="startEndTime_Type">
		<xs:sequence>
			<xs:element name="begin" type="smXML:DateTime_Type"/>
			<xs:element name="end" type="smXML:DateTime_Type"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="startEndTime" type="smXML:startEndTime_Type"/>
	<xs:complexType name="startEndTime_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:startEndTime" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="startTimeRange_Type">
		<xs:sequence>
			<xs:element name="begin" type="smXML:DateTime_Type"/>
			<xs:element name="duration" type="xs:duration"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="startTimeRange" type="smXML:startTimeRange_Type"/>
	<xs:complexType name="startTimeRange_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:startTimeRange" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="Surface_Type">
		<xs:choice>
			<xs:element name="polygon" type="gml:PolygonType"/>
			<xs:element name="box" type="gml:EnvelopeType"/>
			<xs:element name="surface" type="gml:SurfaceType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TimeDuration_Type">
		<xs:choice>
			<xs:element name="instant" type="smXML:DateTime_Type"/>
			<xs:element name="beginEnd" type="smXML:startEndTime_Type"/>
			<xs:element name="beginRange" type="smXML:startTimeRange_Type"/>
			<xs:element name="endRange" type="smXML:endTimeRange_Type"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Value_Type">
		<xs:choice>
			<xs:element name="recordValue" type="smXML:Record_PropertyType"/>
			<xs:element name="otherValue" type="smXML:nonNullString_Type"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="approximateLatitude_Type">
		<xs:restriction base="smXML:Real_Type">
			<xs:minInclusive value="-90.0"/>
			<xs:maxInclusive value="90.0"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="approximateLongitude_Type">
		<xs:restriction base="smXML:Real_Type">
			<xs:minInclusive value="-180.0"/>
			<xs:maxInclusive value="180.0"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="decimalLatitude_Type">
		<xs:restriction base="smXML:Decimal_Type">
			<xs:minInclusive value="-90.0"/>
			<xs:maxInclusive value="90.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="decimalLongitude_Type">
		<xs:restriction base="smXML:Decimal_Type">
			<xs:minInclusive value="-180.0"/>
			<xs:maxInclusive value="360.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonNegativeDecimal_Type">
		<xs:restriction base="smXML:Decimal_Type">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonNegativeInteger_Type">
		<xs:restriction base="smXML:Integer_Type">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonNullString_Type">
		<xs:restriction base="smXML:CharacterString_Type">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positiveDecimal_Type">
		<xs:restriction base="smXML:Decimal_Type">
			<xs:minExclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positiveInteger_Type">
		<xs:restriction base="smXML:Integer_Type">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
