configdata/ISO19139/smXML/constraint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:gml="http://www.opengis.net/gml" 
    xmlns:smXML="http://metadata.dgiwg.org/smXML" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    targetNamespace="http://metadata.dgiwg.org/smXML" version="0.8">
	<xs:annotation>
		<xs:documentation>
	    			This schema was directly generated from the ISO 19139 UML model via
	    			Version 0.8 of the Rational Rose Script 'XMLout4XMLSchema.ebs' and via
	    			'UMLSchema_to_XMLSchema.xslt' for the DGIWG contribution to the ISO 19139 Project Team
	    			 at DateTime 10-03-2003 08:23:30</xs:documentation>
	</xs:annotation>
	<!-- ================== Includes ================== -->
	<xs:include schemaLocation="constrainedTypes.xsd"/>

	<!-- ================== Classes  ================== -->
	<xs:complexType name="MD_Constraints_Type">
		<xs:sequence>
			<xs:element name="useLimitation" type="smXML:CharacterString_Type" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional" />
	</xs:complexType>
	<xs:element name="MD_Constraints" type="smXML:MD_Constraints_Type" />
	<xs:complexType name="MD_Constraints_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_Constraints" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="MD_LegalConstraints_Type">
		<xs:complexContent>
			<xs:extension base="smXML:MD_Constraints_Type">
				<xs:sequence>
					<xs:element name="accessConstraints" type="smXML:MD_RestrictionCode_Type" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="useConstraints" type="smXML:MD_RestrictionCode_Type" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="otherConstraints" type="smXML:CharacterString_Type" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_LegalConstraints" type="smXML:MD_LegalConstraints_Type" substitutionGroup="smXML:MD_Constraints">
		<xs:annotation>
			<xs:documentation>
   ***   otherConstraints: documented if accessConstraints or useConstraints = "otherRestrictions"
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MD_LegalConstraints_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_LegalConstraints" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="MD_SecurityConstraints_Type">
		<xs:complexContent>
			<xs:extension base="smXML:MD_Constraints_Type">
				<xs:sequence>
					<xs:element name="classification" type="smXML:MD_ClassificationCode_Type" />
					<xs:element name="userNote" type="smXML:CharacterString_Type" minOccurs="0" />
					<xs:element name="classificationSystem" type="smXML:CharacterString_Type" minOccurs="0" />
					<xs:element name="handlingDescription" type="smXML:CharacterString_Type" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_SecurityConstraints" type="smXML:MD_SecurityConstraints_Type" substitutionGroup="smXML:MD_Constraints" />
	<xs:complexType name="MD_SecurityConstraints_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_SecurityConstraints" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="MD_ClassificationCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_ClassificationCode" type="smXML:MD_ClassificationCode_Type" />
	<xs:complexType name="MD_RestrictionCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_RestrictionCode" type="smXML:MD_RestrictionCode_Type" />
</xs:schema>
