configdata/ISO19139/smXML/content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:gml="http://www.opengis.net/gml" 
    xmlns:smXML="http://metadata.dgiwg.org/smXML" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    targetNamespace="http://metadata.dgiwg.org/smXML" version="0.8">
	<xs:annotation>
		<xs:documentation>
	    			This schema was directly generated from the ISO 19139 UML model via
	    			Version 0.8 of the Rational Rose Script 'XMLout4XMLSchema.ebs' and via
	    			'UMLSchema_to_XMLSchema.xslt' for the DGIWG contribution to the ISO 19139 Project Team
	    			 at DateTime 10-03-2003 08:23:49</xs:documentation>
	</xs:annotation>
	<!-- ================== Includes ================== -->
	<xs:include schemaLocation="citation.xsd"/>
	<xs:include schemaLocation="externalTypes.xsd"/>

	<!-- ================== Classes  ================== -->
	<xs:complexType name="MD_FeatureCatalogueDescription_Type">
		<xs:complexContent>
			<xs:extension base="smXML:MD_ContentInformation_Type">
				<xs:sequence>
					<xs:element name="complianceCode" type="smXML:Boolean_Type" minOccurs="0" />
					<xs:element name="language" type="smXML:LanguageCode_Type" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="includedWithDataset" type="smXML:Boolean_Type" />
					<xs:element ref="smXML:_GenericName" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="featureCatalogueCitation" type="smXML:CI_Citation_PropertyType" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_FeatureCatalogueDescription" type="smXML:MD_FeatureCatalogueDescription_Type" substitutionGroup="smXML:MD_ContentInformation" />
	<xs:complexType name="MD_FeatureCatalogueDescription_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_FeatureCatalogueDescription" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="MD_CoverageDescription_Type">
		<xs:complexContent>
			<xs:extension base="smXML:MD_ContentInformation_Type">
				<xs:sequence>
					<xs:element name="attributeDescription" type="smXML:RecordType_Type" />
					<xs:element name="contentType" type="smXML:MD_CoverageContentTypeCode_Type" />
					<xs:element name="dimension" type="smXML:MD_RangeDimension_PropertyType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_CoverageDescription" type="smXML:MD_CoverageDescription_Type" substitutionGroup="smXML:MD_ContentInformation" />
	<xs:complexType name="MD_CoverageDescription_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_CoverageDescription" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="MD_ImageDescription_Type">
		<xs:complexContent>
			<xs:extension base="smXML:MD_CoverageDescription_Type">
				<xs:sequence>
					<xs:element name="illuminationElevationAngle" type="smXML:Real_Type" minOccurs="0" />
					<xs:element name="illuminationAzimuthAngle" type="smXML:nonNegativeDecimal_Type" minOccurs="0" />
					<xs:element name="imagingCondition" type="smXML:MD_ImagingConditionCode_Type" minOccurs="0" />
					<xs:element name="imageQualityCode" type="smXML:MD_Identifier_PropertyType" minOccurs="0" />
					<xs:element name="cloudCoverPercentage" type="smXML:nonNegativeDecimal_Type" minOccurs="0" />
					<xs:element name="processingLevelCode" type="smXML:MD_Identifier_PropertyType" minOccurs="0" />
					<xs:element name="compressionGenerationQuantity" type="smXML:nonNegativeInteger_Type" minOccurs="0" />
					<xs:element name="triangulationIndicator" type="smXML:Boolean_Type" minOccurs="0" />
					<xs:element name="radiometricCalibrationDataAvailability" type="smXML:Boolean_Type" minOccurs="0" />
					<xs:element name="cameraCalibrationInformationAvailability" type="smXML:Boolean_Type" minOccurs="0" />
					<xs:element name="filmDistortionInformationAvailability" type="smXML:Boolean_Type" minOccurs="0" />
					<xs:element name="lensDistortionInformationAvailability" type="smXML:Boolean_Type" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_ImageDescription" type="smXML:MD_ImageDescription_Type" substitutionGroup="smXML:MD_CoverageDescription" />
	<xs:complexType name="MD_ImageDescription_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_ImageDescription" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="MD_ContentInformation_Type" abstract="true">
		<xs:attribute ref="smXML:id" use="optional" />
	</xs:complexType>
	<xs:element name="MD_ContentInformation" type="smXML:MD_ContentInformation_Type" abstract="true" />
	<xs:complexType name="MD_ContentInformation_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_ContentInformation" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="MD_RangeDimension_Type">
		<xs:sequence>
			<xs:element name="sequenceIdentifier" type="smXML:MemberName_PropertyType" minOccurs="0" />
			<xs:element name="descriptor" type="smXML:CharacterString_Type" minOccurs="0" />
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional" />
	</xs:complexType>
	<xs:element name="MD_RangeDimension" type="smXML:MD_RangeDimension_Type" />
	<xs:complexType name="MD_RangeDimension_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_RangeDimension" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="MD_Band_Type">
		<xs:complexContent>
			<xs:extension base="smXML:MD_RangeDimension_Type">
				<xs:sequence>
					<xs:element name="maxValue" type="smXML:positiveDecimal_Type" minOccurs="0" />
					<xs:element name="minValue" type="smXML:positiveDecimal_Type" minOccurs="0" />
					<xs:element name="units" type="smXML:UomLength_PropertyType" minOccurs="0" />
					<xs:element name="peakResponse" type="smXML:positiveDecimal_Type" minOccurs="0" />
					<xs:element name="bitsPerValue" type="smXML:nonNegativeInteger_Type" minOccurs="0" />
					<xs:element name="toneGradation" type="smXML:nonNegativeInteger_Type" minOccurs="0" />
					<xs:element name="scaleFactor" type="smXML:Real_Type" minOccurs="0" />
					<xs:element name="offset" type="smXML:Real_Type" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_Band" type="smXML:MD_Band_Type" substitutionGroup="smXML:MD_RangeDimension">
		<xs:annotation>
			<xs:documentation>
   ***   "units" is mandatory if "maxValue" or "minValue" are provided
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MD_Band_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_Band" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="MD_CoverageContentTypeCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_CoverageContentTypeCode" type="smXML:MD_CoverageContentTypeCode_Type" />
	<xs:complexType name="MD_ImagingConditionCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_ImagingConditionCode" type="smXML:MD_ImagingConditionCode_Type" />
</xs:schema>
