configdata/ISO19139/smXML/extent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:gml="http://www.opengis.net/gml" 
    xmlns:smXML="http://metadata.dgiwg.org/smXML" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    targetNamespace="http://metadata.dgiwg.org/smXML" version="0.8">
	<xs:annotation>
		<xs:documentation>
	    			This schema was directly generated from the ISO 19139 UML model via
	    			Version 0.8 of the Rational Rose Script 'XMLout4XMLSchema.ebs' and via
	    			'UMLSchema_to_XMLSchema.xslt' for the DGIWG contribution to the ISO 19139 Project Team
	    			 at DateTime 10-03-2003 08:27:43</xs:documentation>
	</xs:annotation>
	<!-- ================== Includes ===================-->
		<xs:include schemaLocation="constrainedTypes.xsd"/>
		<xs:include schemaLocation="referenceSystem.xsd"/>
	<!-- ================== Classes  ================== -->
	<xs:complexType name="EX_TemporalExtent_Type">
		<xs:sequence>
			<xs:element name="extent" type="smXML:TimeDuration_Type" />
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional" />
	</xs:complexType>
	<xs:element name="EX_TemporalExtent" type="smXML:EX_TemporalExtent_Type" />
	<xs:complexType name="EX_TemporalExtent_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:EX_TemporalExtent" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="EX_VerticalExtent_Type">
		<xs:sequence>
			<xs:element name="minimumValue" type="smXML:Real_Type" />
			<xs:element name="maximumValue" type="smXML:Real_Type" />
			<xs:element name="unitOfMeasure" type="smXML:UomLength_PropertyType" />
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional" />
	</xs:complexType>
	<xs:element name="EX_VerticalExtent" type="smXML:EX_VerticalExtent_Type" />
	<xs:complexType name="EX_VerticalExtent_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:EX_VerticalExtent" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="EX_BoundingPolygon_Type">
		<xs:complexContent>
			<xs:extension base="smXML:_EX_GeographicExtent_Type">
				<xs:sequence>
					<xs:element name="polygon" type="smXML:Surface_Type" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EX_BoundingPolygon" type="smXML:EX_BoundingPolygon_Type" substitutionGroup="smXML:_EX_GeographicExtent" />
	<xs:complexType name="EX_BoundingPolygon_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:EX_BoundingPolygon" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="EX_Extent_Type">
		<xs:sequence>
			<xs:element name="description" type="smXML:CharacterString_Type" minOccurs="0" />
			<xs:element name="verticalElement" type="smXML:EX_VerticalExtent_PropertyType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="temporalElement" type="smXML:EX_TemporalExtent_PropertyType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="geographicElement" type="smXML:_EX_GeographicExtent_PropertyType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional" />
	</xs:complexType>
	<xs:element name="EX_Extent" type="smXML:EX_Extent_Type">
		<xs:annotation>
			<xs:documentation>
   ***   count(description + geographicElement + temporalElement + verticalElement) &gt;0
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EX_Extent_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:EX_Extent" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="_EX_GeographicExtent_Type" abstract="true">
		<xs:sequence>
			<xs:element name="extentTypeCode" type="smXML:Boolean_Type" minOccurs="0" default="1" />
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional" />
	</xs:complexType>
	<xs:element name="_EX_GeographicExtent" type="smXML:_EX_GeographicExtent_Type" abstract="true" />
	<xs:complexType name="_EX_GeographicExtent_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:_EX_GeographicExtent" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="EX_GeographicBoundingBox_Type">
		<xs:complexContent>
			<xs:extension base="smXML:_EX_GeographicExtent_Type">
				<xs:sequence>
					<xs:element name="westBoundLongitude" type="smXML:approximateLongitude_Type" />
					<xs:element name="eastBoundLongitude" type="smXML:approximateLongitude_Type" />
					<xs:element name="southBoundLatitude" type="smXML:approximateLatitude_Type" />
					<xs:element name="northBoundLatitude" type="smXML:approximateLatitude_Type" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EX_GeographicBoundingBox" type="smXML:EX_GeographicBoundingBox_Type" substitutionGroup="smXML:_EX_GeographicExtent" />
	<xs:complexType name="EX_GeographicBoundingBox_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:EX_GeographicBoundingBox" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="EX_SpatialTemporalExtent_Type">
		<xs:complexContent>
			<xs:extension base="smXML:EX_TemporalExtent_Type">
				<xs:sequence>
					<xs:element name="spatialExtent" type="smXML:_EX_GeographicExtent_PropertyType" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EX_SpatialTemporalExtent" type="smXML:EX_SpatialTemporalExtent_Type" substitutionGroup="smXML:EX_TemporalExtent" />
	<xs:complexType name="EX_SpatialTemporalExtent_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:EX_SpatialTemporalExtent" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
	<xs:complexType name="EX_GeographicDescription_Type">
		<xs:complexContent>
			<xs:extension base="smXML:_EX_GeographicExtent_Type">
				<xs:sequence>
					<xs:element name="geographicIdentifier" type="smXML:MD_Identifier_PropertyType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EX_GeographicDescription" type="smXML:EX_GeographicDescription_Type" substitutionGroup="smXML:_EX_GeographicExtent" />
	<xs:complexType name="EX_GeographicDescription_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:EX_GeographicDescription" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink" />
	</xs:complexType>
</xs:schema>
