configdata/ISO19139/smXML/identification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://metadata.dgiwg.org/smXML" 
xmlns:gml="http://www.opengis.net/gml" 
xmlns:smXML="http://metadata.dgiwg.org/smXML" 
xmlns:xlink="http://www.w3.org/1999/xlink" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="0.8">
	<xs:annotation>
		<xs:documentation>
	    			This schema was directly generated from the ISO 19139 UML model via
	    			Version 0.8 of the Rational Rose Script 'XMLout4XMLSchema.ebs' and via
	    			'UMLSchema_to_XMLSchema.xslt' for the DGIWG contribution to the ISO 19139 Project Team
	    			 at DateTime 10-03-2003 08:28:07</xs:documentation>
	</xs:annotation>
	<!-- ================== Includes ================== -->
	<xs:include schemaLocation="citation.xsd"/>
	<xs:include schemaLocation="constraint.xsd"/>
	<xs:include schemaLocation="distribution.xsd"/>
	<xs:include schemaLocation="maintenance.xsd"/>
	<xs:include schemaLocation="externalTypes.xsd"/>
	<!-- ================== Classes  ================== -->
	<xs:complexType name="_MD_Identification_Type" abstract="true">
		<xs:sequence>
			<xs:element name="citation" type="smXML:CI_Citation_PropertyType"/>
			<xs:element name="abstract" type="smXML:nonNullString_Type"/>
			<xs:element name="purpose" type="smXML:CharacterString_Type" minOccurs="0"/>
			<xs:element name="credit" type="smXML:CharacterString_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="status" type="smXML:MD_ProgressCode_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pointOfContact" type="smXML:CI_ResponsibleParty_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="resourceConstraints" type="smXML:MD_Constraints_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="resourceFormat" type="smXML:MD_Format_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="resourceSpecificUsage" type="smXML:MD_Usage_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="resourceMaintenance" type="smXML:MD_MaintenanceInformation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="descriptiveKeywords" type="smXML:MD_Keywords_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="graphicOverview" type="smXML:MD_BrowseGraphic_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="aggregationInfo" type="smXML:MD_AggregateInformation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="_MD_Identification" type="smXML:_MD_Identification_Type" abstract="true"/>
	<xs:complexType name="_MD_Identification_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:_MD_Identification" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_BrowseGraphic_Type">
		<xs:sequence>
			<xs:element name="fileName" type="smXML:nonNullString_Type"/>
			<xs:element name="fileDescription" type="smXML:CharacterString_Type" minOccurs="0"/>
			<xs:element name="fileType" type="smXML:CharacterString_Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="MD_BrowseGraphic" type="smXML:MD_BrowseGraphic_Type"/>
	<xs:complexType name="MD_BrowseGraphic_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_BrowseGraphic" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_DataIdentification_Type">
		<xs:complexContent>
			<xs:extension base="smXML:_MD_Identification_Type">
				<xs:sequence>
					<xs:element name="spatialRepresentationType" type="smXML:MD_SpatialRepresentationTypeCode_Type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="spatialResolution" type="smXML:MD_Resolution_Type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="language" type="smXML:LanguageCode_Type" maxOccurs="unbounded"/>
					<xs:element name="characterSet" type="smXML:MD_CharacterSetCode_Type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="topicCategory" type="smXML:MD_TopicCategoryCode_Type" maxOccurs="unbounded"/>
					<xs:element name="environmentDescription" type="smXML:CharacterString_Type" minOccurs="0"/>
					<xs:element name="extent" type="smXML:EX_Extent_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="supplementalInformation" type="smXML:CharacterString_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_DataIdentification" type="smXML:MD_DataIdentification_Type" substitutionGroup="smXML:_MD_Identification">
		<xs:annotation>
			<xs:documentation>
   ***   characterSet: documented if ISO 10646-1 is not used
   ***   {MD_Metadata.hierarchyLevel = "dataset" implies count (extent.geographicElement.EX_GeographicBoundingBox) + count (extent.geographicElement.EX_GeographicDescription) &gt;=1}
   ***   {MD_Metadata.hierarchyLevel notEqual "dataset" implies topicCategory is not mandatory}
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MD_DataIdentification_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_DataIdentification" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_RepresentativeFraction_Type">
		<xs:sequence>
			<xs:element name="denominator" type="smXML:positiveInteger_Type"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="MD_RepresentativeFraction" type="smXML:MD_RepresentativeFraction_Type"/>
	<xs:complexType name="MD_RepresentativeFraction_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_RepresentativeFraction" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_Usage_Type">
		<xs:sequence>
			<xs:element name="specificUsage" type="smXML:nonNullString_Type"/>
			<xs:element name="usageDateTime" type="smXML:DateTime_Type" minOccurs="0"/>
			<xs:element name="userDeterminedLimitations" type="smXML:CharacterString_Type" minOccurs="0"/>
			<xs:element name="userContactInfo" type="smXML:CI_ResponsibleParty_PropertyType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="MD_Usage" type="smXML:MD_Usage_Type"/>
	<xs:complexType name="MD_Usage_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_Usage" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_Keywords_Type">
		<xs:sequence>
			<xs:element name="keyword" type="smXML:nonNullString_Type" maxOccurs="unbounded"/>
			<xs:element name="type" type="smXML:MD_KeywordTypeCode_Type" minOccurs="0"/>
			<xs:element name="thesaurusName" type="smXML:CI_Citation_PropertyType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="MD_Keywords" type="smXML:MD_Keywords_Type"/>
	<xs:complexType name="MD_Keywords_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_Keywords" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="DS_Association_Type">
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="DS_Association" type="smXML:DS_Association_Type"/>
	<xs:complexType name="DS_Association_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:DS_Association" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_AggregateInformation_Type">
		<xs:sequence>
			<xs:element name="aggregateDataSetName" type="smXML:CI_Citation_PropertyType" minOccurs="0"/>
			<xs:element name="aggregateDataSetIdentifier" type="smXML:MD_Identifier_PropertyType" minOccurs="0"/>
			<xs:element name="associationType" type="smXML:DS_AssociationTypeCode_Type"/>
			<xs:element name="initiativeType" type="smXML:DS_InitiativeTypeCode_Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="MD_AggregateInformation" type="smXML:MD_AggregateInformation_Type">
		<xs:annotation>
			<xs:documentation>
   ***   Either "aggregateDataSetName" or "aggregateDataSetIdentifier" must be documented
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MD_AggregateInformation_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_AggregateInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_CharacterSetCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_CharacterSetCode" type="smXML:MD_CharacterSetCode_Type"/>
	<xs:complexType name="MD_SpatialRepresentationTypeCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_SpatialRepresentationTypeCode" type="smXML:MD_SpatialRepresentationTypeCode_Type"/>
	<xs:complexType name="MD_TopicCategoryCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_TopicCategoryCode" type="smXML:MD_TopicCategoryCode_Type"/>
	<xs:complexType name="MD_ProgressCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_ProgressCode" type="smXML:MD_ProgressCode_Type"/>
	<xs:complexType name="MD_KeywordTypeCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_KeywordTypeCode" type="smXML:MD_KeywordTypeCode_Type"/>
	<xs:complexType name="DS_AssociationTypeCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="DS_AssociationTypeCode" type="smXML:DS_AssociationTypeCode_Type"/>
	<xs:complexType name="DS_InitiativeTypeCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="DS_InitiativeTypeCode" type="smXML:DS_InitiativeTypeCode_Type"/>
	<xs:element name="MD_Resolution" type="smXML:MD_Resolution_Type"/>
	<xs:complexType name="MD_Resolution_Type">
		<xs:choice>
			<xs:element name="equivalentScale" type="smXML:MD_RepresentativeFraction_PropertyType"/>
			<xs:element name="distance" type="smXML:Distance_PropertyType"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
