configdata/ISO19139/smXML/metadataExtension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:gml="http://www.opengis.net/gml" 
    xmlns:smXML="http://metadata.dgiwg.org/smXML" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    targetNamespace="http://metadata.dgiwg.org/smXML" version="0.8">
	<xs:annotation>
		<xs:documentation>
	    			This schema was directly generated from the ISO 19139 UML model via
	    			Version 0.8 of the Rational Rose Script 'XMLout4XMLSchema.ebs' and via
	    			'UMLSchema_to_XMLSchema.xslt' for the DGIWG contribution to the ISO 19139 Project Team
	    			 at DateTime 10-03-2003 08:29:21</xs:documentation>
	</xs:annotation>
	<!-- ================== Includes ================== -->

	<xs:include schemaLocation="citation.xsd"/>

	<!-- ================== Classes  ================== -->
	<xs:complexType name="MD_ExtendedElementInformation_Type">
		<xs:sequence>
			<xs:element name="name" type="smXML:nonNullString_Type"/>
			<xs:element name="shortName" type="smXML:CharacterString_Type" minOccurs="0"/>
			<xs:element name="domainCode" type="smXML:nonNegativeInteger_Type" minOccurs="0"/>
			<xs:element name="definition" type="smXML:nonNullString_Type"/>
			<xs:element name="obligation" type="smXML:MD_ObligationCode_Type" minOccurs="0"/>
			<xs:element name="condition" type="smXML:CharacterString_Type" minOccurs="0"/>
			<xs:element name="dataType" type="smXML:MD_DatatypeCode_Type"/>
			<xs:element name="maximumOccurrence" type="smXML:CharacterString_Type" minOccurs="0"/>
			<xs:element name="domainValue" type="smXML:CharacterString_Type" minOccurs="0"/>
			<xs:element name="parentEntity" type="smXML:nonNullString_Type" maxOccurs="unbounded"/>
			<xs:element name="rule" type="smXML:nonNullString_Type"/>
			<xs:element name="rationale" type="smXML:CharacterString_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="source" type="smXML:CI_ResponsibleParty_PropertyType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="MD_ExtendedElementInformation" type="smXML:MD_ExtendedElementInformation_Type">
		<xs:annotation>
			<xs:documentation>
   ***   if "dataType" = 'codelistElement' then "domainCode" is mandatory
   ***   if "dataType" notEqual 'codelistElement' then "shortName" is mandatory
   ***   if "dataType" notEqual 'codelist', 'enumeration' or 'codelistElement' then "obligation", "maximumOccurence" and "domainValue"  are mandatory
   ***   if "obligation" = 'conditional' then "condition" is mandatory
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MD_ExtendedElementInformation_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_ExtendedElementInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_MetadataExtensionInformation_Type">
		<xs:sequence>
			<xs:element name="extensionOnLineResource" type="smXML:CI_OnlineResource_PropertyType" minOccurs="0"/>
			<xs:element name="extendedElementInformation" type="smXML:MD_ExtendedElementInformation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="MD_MetadataExtensionInformation" type="smXML:MD_MetadataExtensionInformation_Type"/>
	<xs:complexType name="MD_MetadataExtensionInformation_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_MetadataExtensionInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_ObligationCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_ObligationCode" type="smXML:MD_ObligationCode_Type"/>
	<xs:complexType name="MD_DatatypeCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_DatatypeCode" type="smXML:MD_DatatypeCode_Type"/>
</xs:schema>
