configdata/ISO19139/smXML/spatialRepresentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://metadata.dgiwg.org/smXML" 
    xmlns:gml="http://www.opengis.net/gml" 
    xmlns:smXML="http://metadata.dgiwg.org/smXML" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="0.8">
	<xs:annotation>
		<xs:documentation>
	    			This schema was directly generated from the ISO 19139 UML model via
	    			Version 0.8 of the Rational Rose Script 'XMLout4XMLSchema.ebs' and via
	    			'UMLSchema_to_XMLSchema.xslt' for the DGIWG contribution to the ISO 19139 Project Team
	    			 at DateTime 10-03-2003 08:30:37</xs:documentation>
	</xs:annotation>
	<!-- ================== Imports ================== -->
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml3.0/base/geometryBasic2d.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml3.0/base/geometryPrimitives.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml3.0/base/geometryBasic0d1d.xsd"/>
	<!-- ================== Includes ================== -->
	<xs:include schemaLocation="citation.xsd"/>
	<!-- ================== Classes  ================== -->
	<xs:complexType name="MD_GridSpatialRepresentation_Type">
		<xs:complexContent>
			<xs:extension base="smXML:_MD_SpatialRepresentation_Type">
				<xs:sequence>
					<xs:element name="numberOfDimensions" type="smXML:positiveInteger_Type"/>
					<xs:element name="axisDimensionProperties" type="smXML:MD_Dimension_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="cellGeometry" type="smXML:MD_CellGeometryCode_Type"/>
					<xs:element name="transformationParameterAvailability" type="smXML:Boolean_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_GridSpatialRepresentation" type="smXML:MD_GridSpatialRepresentation_Type" substitutionGroup="smXML:_MD_SpatialRepresentation"/>
	<xs:complexType name="MD_GridSpatialRepresentation_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_GridSpatialRepresentation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_VectorSpatialRepresentation_Type">
		<xs:complexContent>
			<xs:extension base="smXML:_MD_SpatialRepresentation_Type">
				<xs:sequence>
					<xs:element name="topologyLevel" type="smXML:MD_TopologyLevelCode_Type" minOccurs="0"/>
					<xs:element name="geometricObjects" type="smXML:MD_GeometricObjects_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_VectorSpatialRepresentation" type="smXML:MD_VectorSpatialRepresentation_Type" substitutionGroup="smXML:_MD_SpatialRepresentation"/>
	<xs:complexType name="MD_VectorSpatialRepresentation_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_VectorSpatialRepresentation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="_MD_SpatialRepresentation_Type" abstract="true">
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="_MD_SpatialRepresentation" type="smXML:_MD_SpatialRepresentation_Type" abstract="true"/>
	<xs:complexType name="_MD_SpatialRepresentation_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:_MD_SpatialRepresentation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_Georeferenceable_Type">
		<xs:complexContent>
			<xs:extension base="smXML:MD_GridSpatialRepresentation_Type">
				<xs:sequence>
					<xs:element name="controlPointAvailability" type="smXML:Boolean_Type"/>
					<xs:element name="orientationParameterAvailability" type="smXML:Boolean_Type"/>
					<xs:element name="orientationParameterDescription" type="smXML:CharacterString_Type" minOccurs="0"/>
					<xs:element name="georeferencedParameters" type="smXML:Record_PropertyType"/>
					<xs:element name="parameterCitation" type="smXML:CI_Citation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_Georeferenceable" type="smXML:MD_Georeferenceable_Type" substitutionGroup="smXML:MD_GridSpatialRepresentation"/>
	<xs:complexType name="MD_Georeferenceable_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_Georeferenceable" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_Dimension_Type">
		<xs:sequence>
			<xs:element name="dimensionName" type="smXML:MD_DimensionNameTypeCode_Type"/>
			<xs:element name="dimensionSize" type="smXML:nonNegativeInteger_Type"/>
			<xs:element name="resolution" type="smXML:Measure_PropertyType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="MD_Dimension" type="smXML:MD_Dimension_Type"/>
	<xs:complexType name="MD_Dimension_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_Dimension" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_Georectified_Type">
		<xs:complexContent>
			<xs:extension base="smXML:MD_GridSpatialRepresentation_Type">
				<xs:sequence>
					<xs:element name="checkPointAvailability" type="smXML:Boolean_Type"/>
					<xs:element name="checkPointDescription" type="smXML:CharacterString_Type" minOccurs="0"/>
					<xs:element name="cornerPoints" type="gml:PointPropertyType" minOccurs="1" maxOccurs="4"/>
					<xs:element name="centerPoint" type="gml:PointPropertyType" minOccurs="0"/>
					<xs:element name="pointInPixel" type="smXML:MD_PixelOrientationCode_Type" minOccurs="0"/>
					<xs:element name="transformationDimensionDescription" type="smXML:CharacterString_Type" minOccurs="0"/>
					<xs:element name="transformationDimensionMapping" type="smXML:CharacterString_Type" minOccurs="0" maxOccurs="2"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_Georectified" type="smXML:MD_Georectified_Type" substitutionGroup="smXML:MD_GridSpatialRepresentation">
		<xs:annotation>
			<xs:documentation>
   ***   "checkPointDescription" is mandatory if "checkPointAvailability" = 1
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MD_Georectified_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_Georectified" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_GeometricObjects_Type">
		<xs:sequence>
			<xs:element name="geometricObjectType" type="smXML:MD_GeometricObjectTypeCode_Type"/>
			<xs:element name="geometricObjectCount" type="smXML:positiveInteger_Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="smXML:id" use="optional"/>
	</xs:complexType>
	<xs:element name="MD_GeometricObjects" type="smXML:MD_GeometricObjects_Type"/>
	<xs:complexType name="MD_GeometricObjects_PropertyType">
		<xs:sequence>
			<xs:element ref="smXML:MD_GeometricObjects" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="smXML:simpleLink"/>
	</xs:complexType>
	<xs:complexType name="MD_TopologyLevelCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_TopologyLevelCode" type="smXML:MD_TopologyLevelCode_Type"/>
	<xs:complexType name="MD_GeometricObjectTypeCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_GeometricObjectTypeCode" type="smXML:MD_GeometricObjectTypeCode_Type"/>
	<xs:complexType name="MD_CellGeometryCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_CellGeometryCode" type="smXML:MD_CellGeometryCode_Type"/>
	<xs:complexType name="MD_DimensionNameTypeCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_DimensionNameTypeCode" type="smXML:MD_DimensionNameTypeCode_Type"/>
	<xs:complexType name="MD_PixelOrientationCode_Type">
		<xs:simpleContent>
			<xs:extension base="smXML:CharacterString_Type">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MD_PixelOrientationCode" type="smXML:MD_PixelOrientationCode_Type"/>
</xs:schema>
