configdata/ISO19139/smXML/umlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 (http://www.xmlspy.com) by Tracy M. Taylor (private) -->
<!--W3C Schema generated by XML Spy v4.2 (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- tmt -->
	<xs:complexType name="simpleTypeType">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element ref="type"/>
			<xs:element name="restrictBase" minOccurs="0"/>
			<xs:element name="co-constraint" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="minLength" minOccurs="0"/>
			<xs:element name="minIncl" minOccurs="0"/>
			<xs:element name="minExcl" minOccurs="0"/>
			<xs:element name="maxIncl" minOccurs="0"/>
			<xs:element name="maxExcl" minOccurs="0"/>
			<xs:element name="fractionDigits" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="attributeType">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element ref="type"/>
			<xs:element ref="element"/>
			<xs:element name="reference" type="xs:string" minOccurs="0"/>
			<xs:element ref="default" minOccurs="0"/>
			<xs:element name="static" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="default"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="optional" minOccurs="0"/>
			<xs:element name="cardinality" type="cardinalityType"/>
			<xs:element name="minIncl" minOccurs="0"/>
			<xs:element name="minExcl" minOccurs="0"/>
			<xs:element name="maxIncl" minOccurs="0"/>
			<xs:element name="maxExcl" minOccurs="0"/>
			<xs:element ref="definedAt"/>
			<!-- <xs:element ref="representation" minOccurs="0"/> -->
		</xs:sequence>
		<xs:attribute name="position"/>
	</xs:complexType>
	<xs:complexType name="attributeGroupType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="basicAttributeType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="cardinalityType">
		<xs:sequence>
			<xs:element ref="min"/>
			<xs:element ref="max"/>
			<xs:element ref="use"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="classType">
		<xs:sequence>
			<xs:element name="isAbstract" minOccurs="0"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="superclass" type="superclassType" minOccurs="0"/>
			<xs:element ref="restrictionOf" minOccurs="0"/>
			<xs:element name="extensionOf" type="xs:string" minOccurs="0"/>
			<xs:element name="subclass" type="xs:string" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="restriction" minOccurs="0"/>
			<xs:element name="co-constraint" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="minIncl" minOccurs="0"/>
			<xs:element name="minExcl" minOccurs="0"/>
			<xs:element name="maxIncl" minOccurs="0"/>
			<xs:element name="maxExcl" minOccurs="0"/>
			<xs:element name="fractionDigits" minOccurs="0"/>
			<xs:element name="minLength" minOccurs="0"/>
			<xs:element name="useDomainCodes" type="xs:string" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="attribute" type="attributeType"/>
				<xs:element name="simpleAttribute" type="attributeType"/>
				<xs:element name="basicAttribute" type="attributeType"/>
				<xs:element ref="repTarget"/>
				<xs:element name="longSimpleAttribute" type="attributeType"/>
				<xs:element ref="refTarget"/>
				<xs:element name="attributeGroup" type="attributeType"/>
				<xs:element name="enumeration" type="attributeType"/>
				<xs:element name="codeList" type="attributeType"/>
				<xs:element name="longEnumeration" type="attributeType"/>
				<xs:element name="role" type="attributeType"/>
			</xs:choice>
			<xs:element name="notEmpty" minOccurs="0"/>
			<!-- for Enumerations -->
		</xs:sequence>
	</xs:complexType>
	<xs:element name="classList">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="date" type="xs:string"/>
				<xs:element name="class" type="classType"/>
				<xs:element name="array" type="classType"/>
				<xs:element name="enumeration" type="classType"/>
				<xs:element name="codeList" type="classType"/>
				<xs:element name="union" type="classType"/>
				<xs:element name="simpleType" type="simpleTypeType"/>
				<!-- tmt -->
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="default" type="xs:string"/>
	<xs:element name="definedAt" type="xs:string"/>
	<xs:element name="element" type="xs:string"/>
	<xs:element name="isAbstract"/>
	<xs:element name="max" type="unboundedInteger"/>
	<xs:element name="min" type="xs:nonNegativeInteger"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="notEmpty"/>
	<xs:element name="optional"/>
	<xs:element name="reference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[*]Ref"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="representation" type="xs:string"/>
	<xs:element name="subclass" type="xs:string"/>
	<xs:complexType name="superclassType">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element ref="type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="use">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="optional"/>
				<xs:enumeration value="required"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="unboundedInteger">
		<xs:union memberTypes="xs:positiveInteger infinite"/>
	</xs:simpleType>
	<xs:simpleType name="infinite">
		<xs:restriction base="xs:string">
			<xs:enumeration value="unbounded"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="repTarget">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="attributeType">
					<xs:sequence>
						<xs:element ref="name"/>
						<xs:element ref="type"/>
						<xs:element ref="element"/>
						<xs:element name="reference" type="xs:string" minOccurs="0"/>
						<xs:element ref="representation"/>
						<xs:element ref="default" minOccurs="0"/>
						<xs:element ref="optional" minOccurs="0"/>
						<xs:element name="cardinality" type="cardinalityType"/>
						<xs:element ref="definedAt"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="refTarget">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="attributeType">
					<xs:sequence>
						<xs:element ref="name"/>
						<xs:element ref="type"/>
						<xs:element ref="element"/>
						<xs:element name="reference" type="xs:string"/>
						<xs:element ref="representation" minOccurs="0"/>
						<xs:element ref="optional" minOccurs="0"/>
						<xs:element ref="default" minOccurs="0"/>
						<xs:element name="cardinality" type="cardinalityType"/>
						<xs:element ref="definedAt"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="restriction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="type"/>
				<xs:element ref="restrictionOf"/>
				<xs:element ref="classList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="restrictionOf" type="xs:string"/>
</xs:schema>
